@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --clr-primary: #d5ddcb;
    --clr-secondary: #5f7e97;
    --clr-accent: #7e57c2;

    --bg-primary: #011627;
    --bg-secondary: #010e1a;

    --bg-btn: #0b253a;
    --bg-btn-active: #153a58;

    --border-primary: #122d42;
    --border-secondary: #30373d;

    --font: 'JetBrains Mono', sans-serif;

    --radius: 4px;
    --inner-padding: 12px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-primary);
    color: var(--clr-primary);
    font: 300 14px var(--font);
    margin: 0;
    padding: 12px;
}

a {
    color: var(--clr-accent);
    text-decoration: none;
}

.clr-accent { color: var(--clr-accent);}
.clr-primary { color: var(--clr-primary);}
.clr-secondary { color: var(--clr-secondary);}

.bg-primary { background-color: var(--bg-primary);}
.bg-secondary { background-color: var(--bg-secondary);}

.fw-100 {font-weight: 100;}
.fw-200 {font-weight: 200;}
.fw-300 {font-weight: 300;}
.fw-400 {font-weight: 400;}
.fw-500 {font-weight: 500;}
.fw-600 {font-weight: 600;}
.fw-700 {font-weight: 700;}

.fs-sm {font-size: 10px;}
.fs-md {font-size: 14px;}
.fs-lg {font-size: 18px;}
.fs-xl {font-size: 22px;}

.gap-sm {gap: 4px;}
.gap-md {gap: 8px;}
.gap-lg {gap: 12px;}
.gap-xl {gap: 16px;}

nav {
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-secondary);
    border-bottom-color: var(--border-primary);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    font: 400 22px/26px var(--font);
    gap: 12px;
    padding: var(--inner-padding);
}

nav > span {
    flex: 1;
}

i {
    color: var(--clr-accent);
}

form {
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-primary);
    border-radius: var(--radius);
    margin-block: 16px;
    padding: var(--inner-padding);
}

.form__actions {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    margin-top: 12px;
}

input[type="checkbox"] {
    display: none;
}

label:has(> input[type="checkbox"]) {
    background-color: unset;
    border: 0;
    color: unset;
    cursor: pointer;
    font: unset;
    left: unset;
    padding: unset;
    position: unset;
    transition: unset;
    top: unset;
    width: unset;
}

label:has(> input[type="checkbox"]):before {
    background-color: var(--bg-secondary);
    border: 2px solid var(--border-secondary);
    border-radius: var(--radius);
    content: '';
    display: block;
    height: 14px;
    padding: 2px;
    width: 14px;
}

label:has(> input[type="checkbox"]:checked):before {
    align-items: center;
    background-color: var(--clr-accent);
    border: 2px solid var(--border-primary);
    content: "\f00c";
    display: flex;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    justify-content: center;
}

button {
    background-color: var(--bg-btn);
    border: 0;
    border-radius: var(--radius);
    color: var(--clr-secondary);
    cursor: pointer;
    font: 600 16px/20px var(--font);
    padding: 4px 8px;
    min-width: 80px;
    transition: all 0.3s ease-in-out;
}

button:active, button:hover {
    background-color: var(--bg-btn-active);
    color: var(--clr-primary);
}

.container {
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-primary);
    border-radius: var(--radius);
    margin-block: 12px;
    padding: var(--inner-padding);
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.ml-auto {
    margin-left: auto;
}

.pointer {
    cursor: pointer;
}

.grow {
    flex: 1;
}

.calendar__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar__day {
    margin-block: 0;
}

.not-found {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-block: 4rem;
}

.not-found i {
    font-size: 60px;
}
