@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --clr-primary: #d5ddcb;
    --clr-secondary: #5f7e97;
    --clr-accent: #7e57c2;
    --clr-error: #d04c4c;

    --bg-primary: #011627;
    --bg-secondary: #010e1a;

    --bg-btn: #0b253a;
    --bg-highlight: #153a58;

    --border-primary: #122d42;
    --border-secondary: #30373d;

    --font: 'JetBrains Mono', sans-serif;

    --radius: 4px;
    --inner-padding: 12px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-primary);
    color: var(--clr-primary);
    font: 300 14px var(--font);
    margin: 0;
    padding: 12px;
}

a {
    color: var(--clr-accent);
    text-decoration: none;
}

.clr-accent {
    color: var(--clr-accent);
}

.clr-primary {
    color: var(--clr-primary);
}

.clr-secondary {
    color: var(--clr-secondary);
}

.bg-primary {
    background-color: var(--bg-primary);
}

.bg-secondary {
    background-color: var(--bg-secondary);
}

.bg-highlight {
    background-color: var(--bg-highlight);
}

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fs-sm {
    font-size: 10px;
}

.fs-md {
    font-size: 14px;
}

.fs-lg {
    font-size: 18px;
}

.fs-xl {
    font-size: 22px;
}

.gap-sm {
    gap: 4px;
}

.gap-md {
    gap: 8px;
}

.gap-lg {
    gap: 12px;
}

.gap-xl {
    gap: 16px;
}

nav {
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-secondary);
    border-bottom-color: var(--border-primary);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    flex-direction: column;
    font: 400 22px/26px var(--font);
    gap: 12px;
    padding: var(--inner-padding);
    text-align: center;

    & .button-label {
        display: none;
    }

    @media screen and (min-width: 500px) {
        & .button-label {
            display: unset;
        }
    }

    @media screen and (min-width: 800px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

i {
    color: var(--clr-accent);
}

form {
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-primary);
    border-radius: var(--radius);
    margin-block: 16px;
    padding: var(--inner-padding);
}

.form__actions {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    margin-top: 12px;
}

input[type="checkbox"] {
    display: none;
}

label {
    &:has(> input[type="checkbox"]) {
        background-color: unset;
        border: 0;
        color: unset;
        cursor: pointer;
        font: unset;
        left: unset;
        padding: unset;
        position: unset;
        transition: unset;
        top: unset;
        width: unset;

        &:before {
            background-color: var(--bg-secondary);
            border: 2px solid var(--border-secondary);
            border-radius: var(--radius);
            content: '';
            display: block;
            height: 14px;
            padding: 2px;
            width: 14px;
        }
    }

    &:has(> input[type="checkbox"]:checked):before {
        align-items: center;
        background-color: var(--clr-accent);
        border: 2px solid var(--border-primary);
        content: "\f00c";
        display: flex;
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        justify-content: center;
    }
}


select {
    background: var(--bg-secondary);
    border: 1px solid var(--border-primary);
    color: var(--clr-primary);
    font-size: 16px;
    font-family: inherit;
    padding: 2px 10px;
}

button, i {
    user-select: none;
    -webkit-user-select: none;
}


button {
    background-color: var(--bg-btn);
    border: 0;
    border-radius: var(--radius);
    color: var(--clr-secondary);
    cursor: pointer;
    font: 600 16px/20px var(--font);
    padding: 4px 8px;
    min-width: 80px;
    transition: all 0.3s ease-in-out;

    &:not(:disabled):active, &:not(:disabled):hover {
        background-color: var(--bg-highlight);
        color: var(--clr-primary);
    }

    &:disabled {
        cursor: default;
        opacity: 0.4;
    }
}

.container {
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-primary);
    border-radius: var(--radius);
    margin-block: 12px;
    padding: var(--inner-padding);
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.ml-auto {
    margin-left: auto;
}

.pointer {
    cursor: pointer;
}

.grow {
    flex: 1;
}

@scope (calendar-header) {
    :scope {
        flex-direction: column;
        gap: 12px;
    }

    @media screen and (min-width: 500px) {
        :scope {
            flex-direction: row;
        }
    }
}

.calendar__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar__day {
    cursor: pointer;
    margin-block: 0;

    &:hover {
        background-color: var(--bg-highlight);
    }

    &.calendar__day--today {
        background-color: var(--clr-accent);
        font-weight: 700;
    }

    & .calendar__day-stats {
        display: none;
    }

    @media screen and (min-width: 800px) {
        & .calendar__day-stats {
            display: unset;
        }
    }
}

.not-found {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-block: 4rem;

    & i {
        font-size: 60px;
    }
}

@media (display-mode: standalone), (display-mode: minimal-ui) {
    #install {
        display: none;
    }
}

.target-preview {
    background-color: var(--bg-highlight);
    border-radius: var(--radius);
    border: 2px solid var(--clr-accent);
    padding: var(--inner-padding);
    position: absolute;
}

.placeholder {
    background-color: var(--bg-highlight);
    padding: 4px var(--inner-padding);
    border-radius: var(--radius);
}


textarea,
.scrollbar {
    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: var(--bg-secondary);
        border-radius: var(--radius);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--bg-highlight);
        border-radius: var(--radius);
    }

    &::-webkit-scrollbar-corner {
        background: var(--bg-secondary);
    }
}

ul {
    max-height: 500px;
}


/* FORM CONTROL */
@scope (form-control) {
    :scope {
        display: flex;
        flex-direction: column;
        padding-top: 24px;
        position: relative;
    }

    textarea {
        resize: vertical;
    }

    textarea,
    input {
        background-color: var(--bg-secondary);
        border: 1px solid var(--border-primary);
        border-radius: var(--radius);
        color: var(--clr-primary);
        font: 300 16px/24px var(--font);
        padding: 16px var(--inner-padding) var(--inner-padding) var(--inner-padding);

        &::placeholder {
            color: var(--clr-secondary);
            font: 600 14px/24px var(--font);
        }

        &:active,
        &:focus {
            outline: 1px solid var(--clr-accent);
        }
    }

    label {
        background-color: var(--bg-secondary);
        border: 1px solid var(--border-primary);
        color: var(--clr-secondary);
        font: 600 14px/15px var(--font);
        left: 17px;
        padding: 6px 10px;
        position: absolute;
        transition: all 0.3s ease-in-out;
        top: 8px;
        width: fit-content;

        &:has(+ input:focus),
        &:has(+ input:active),
        &:has(+ textarea:focus),
        &:has(+ textarea:active) {
            border-color: var(--clr-accent);
            color: var(--clr-accent);
            transform: translate(-5px, -5px);
        }
    }

    .error {
        color: var(--clr-error);
        font-size: .8em;
        font-weight: 600;
        padding: var(--inner-padding) var(--inner-padding) 0 var(--inner-padding);
        text-align: left;
    }
}

/* LOADING BAR */
@scope (loading-bar) {
:scope {
    align-items: center;
    color: var(--clr-secondary);
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    padding-block: 12px;
}

.loading {
    animation: spin 1s infinite linear;
    aspect-ratio: 1;
    border: 8px solid var(--clr-accent);
    border-radius: 50%;
    border-right-color: var(--bg-secondary);
    position: relative;
    width: 50px;
}

@keyframes spin {
        to {
            transform: rotate(1turn);
        }
    }
}

@scope (form) {
    .form__controls {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

@scope (rate-selector) {
    :scope {
        display: flex;
        gap: 12px;
        margin-top: 0;
        padding-top: calc(2 * var(--inner-padding));
    }

    .level {
        border: 2px solid var(--border-primary);
        border-radius: var(--radius);
        cursor: pointer;
        height: calc(var(--inner-padding) * 2);
        width:calc(var(--inner-padding) * 2);

        &.level--active {
            background: var(--clr-accent);
        }
    }
}

@scope (task-item) {
    :scope {
        align-items: center;
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: repeat(2, 1fr);
    }

    .task-item__text {
        font-size: 1.2em;
    }

    .task-item__rates {
        display: flex;
        gap: 12px;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .task-item__description {
        color: var(--clr-secondary);
        font-size: .9em;
    }

    .task-item__actions {
        flex-direction: column;
        grid-row: 1 / 3;
        justify-self: end;
    }

    @media screen and (min-width: 800px) {
        :scope {
            grid-template-columns: 60% 20% 20%;
            grid-template-rows: 1fr;
        }

        .task-item__rates {
            flex-direction: column;
            gap: unset;
            grid-column: 2 / 3;
            grid-row:  1 / 2    ;
            justify-self: center;
        }

        .task-item__actions {
            flex-direction: row;
            grid-row: 1 / 2;
            grid-column: 3 / 4;
        }
    }
}

@scope (auth-page) {
 :scope {
     text-align: center;
 }

 .auth__header {
     background: var(--bg-highlight);
     border-radius: var(--radius);
     font-size: 1.3em;
     letter-spacing: 1px;
     padding-block: 0.5em;
     text-transform: uppercase;
 }

 .auth__footer, .auth__footer button {
     border-radius: var(--radius);
     color: var(--clr-secondary);
     font-size: 0.9em;
     padding-block: 0.3em;
 }

}
