@scope (form) {
    :scope {
        background-color: var(--bg-secondary);
        border: 1px solid var(--border-primary);
        border-radius: var(--radius);
        margin-block: 16px;
        padding: var(--inner-padding);
    }

    .form__actions {
        display: flex;
        gap: 8px;
        justify-content: flex-end;
        margin-top: 12px;
    }

    .form__controls {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}
