.target-preview {
    background-color: var(--bg-highlight);
    border-radius: var(--radius);
    border: 2px solid var(--clr-accent);
    max-width: min(50vw, 600px);
    padding: var(--inner-padding);
    position: absolute;
}

.placeholder {
    background-color: var(--bg-highlight);
    padding: 4px var(--inner-padding);
    border-radius: var(--radius);
}
