@scope (calendar-header) {
    :scope {
        flex-direction: column;
        gap: 12px;

        @media screen and (min-width: 500px) {
            flex-direction: row;
        }
    }

    task-counters:empty {
        display: none;
    }

    #calendar-header-actions {
        align-items: center;
        display: grid;
        grid-gap: 12px;
        grid-template-columns: repeat(2, auto);
        justify-items: center;

        &:has(> #show-active-view:empty) {
            grid-template-rows: repeat(2, 1fr);
        }

        #show-active-view {
            grid-column: 1 / 3;
            width: 100%;
        }

        @media screen and (min-width: 800px) {
            grid-template-columns: repeat(3, auto);
            grid-template-rows: 1fr;

            #show-active-view {
                grid-column: unset;
            }
        }
    }
}
